<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weilizan.kitsunebi">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_kitsunebi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_kitsunebi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <activity android:name=".sample.MainActivity2" android:exported="true">
        </activity>
        <activity
            android:exported="true"
            android:name=".sample.CustomUIActivity"
            android:theme="@style/ef_AppTheme" />
        <activity
            android:exported="true"
            android:name=".sample.ImageViewerActivity"
            android:theme="@style/ef_AppTheme" />

        <activity android:name=".ui.qrcode.QRScanActivity" android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.custom.CustomActivity" android:exported="true"/>
        <activity
            android:exported="true"
            android:name=".ui.qrcode.QRActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.proxylog.ProxyLogActivity"
            android:exported="true"
            android:label="@string/proxy_log_activity_label"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.locat.LogcatActivity"
            android:exported="true"
            android:label="@string/logcat_activity_label"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="true"
            android:label="@string/settings_activity_label"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.StartVpnActivity"
            android:exported="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".ui.perapp.PerAppActivity"
            android:exported="true"
            android:label="@string/per_app_activity_label"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.perapp.AppListActivity"
            android:exported="true"
            android:label="@string/app_list_activity_labal"
            android:parentActivityName=".ui.perapp.PerAppActivity" />
        <activity
            android:name=".ui.SubscribeConfigActivity"
            android:exported="true"
            android:label="@string/subscribe_config_activity_label"
            android:parentActivityName=".ui.main.MainActivity" />

        <service
            android:name=".service.SimpleVpnService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.VpnTileService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_kitsunebi_tile"
            android:label="Kitsunebi"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>